<!DOCTYPE html>
<html lang="en">


<%- include('partials/head'); -%>


<header>
	<div class="container">
		<%- include('partials/front_nav'); -%>
		<div class="jumbotron front text-center"></div>
		<div class="container">
			<h1 class="display-3 text-white" style="font-family: 'Inter', sans-serif;">
				AutoAuth
				<br>
				for
				<br>
				ruqqus
			</h1>
			<br>
			<hr>
			<br>
			<p class="text-white">Automatic and secure way to get <strong>ruqqus</strong> api authentication token</p>
			<a href="#getTokens" class="btn btn-primary">Get Access Token</a>
			<a href="#refreshToken" class="btn btn-secondary">Refresh Access Token</a>
		</div>
	</div>
	</div>
</header>

<body>

	<main>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12 card automatic" id="getTokens">
					<h3>Get your access tokens</h3>
					<p>Input your app's info. Don't worry, we don't store your data. <small><a
								href="/help/app_info">Where do I find this info?</a></small></p>


					<form action="/auth" method="POST">
						<div class="form-group">
							<label for="client_id">CLIENT ID</label>
							<input type="text" class="form-control" id="client_id" name="client_id"
								aria-describedby="client_id_help" placeholder="Enter CLIENT ID" required>
						</div>
						<div class="form-group">
							<label for="client_secret">CLIENT SECRET</label>
							<input type="text" class="form-control" id="client_secret" name="client_secret"
								aria-describedby="emaclient_secret_help" placeholder="Enter CLIENT SECRET" required>
						</div>
						<div class="form-group">
							<label for="redirect_uri">REDIRECT URI</label>
							<input type="text" class="form-control copy-link" id="redirect_uri" name="redirect_uri"
								value="https://ruqqus-auth.glitch.me/redirect"
								data-clipboard-text="https://ruqqus-auth.glitch.me/redirect" role="button"
								readonly="readonly">
							<small id="redirect_uri_help" class="form-text text-muted">In order for this website to work
								you need to add this redirect uri to your app's redirect uri's list.</small>
							<small id="redirect_uri_help" class="form-text text-muted"><a data-toggle="collapse"
									href="#useCustomUri">Use your custom URI instead</a></small>
							<div class="collapse" id="useCustomUri">
								<input type="text" class="form-control" id="custom_uri" name="custom_uri"
									placeholder="Enter your custom redirect URI">

							</div>
						</div>
						<div class="form-group">
							<label for="scope_list">SCOPE LIST <small>(scopes separated by comma)</small></label>
							<input type="text" class="form-control" id="scope_list" name="scope_list"
								aria-describedby="scope_list_help" placeholder="identity, create, read...." required>
							<small id="scope_list_help" class="form-text text-muted"><a data-toggle="collapse"
									href="#showScopes" aria-expanded="false" aria-controls="showScopes">
									See
								</a> all of the available scopes.</small>
							<div class="collapse" id="showScopes">

								<input type="text" class="form-control copy-link" id="redirect_uri"
									value="identity, create, read, update, delete, vote, guildmaster"
									data-clipboard-text="https://ruqqus-auth.glitch.me/redirect" role="button"
									readonly="readonly">

							</div>
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>

				</div>
				<hr>
				<div class="col-12 card automatic" id="refreshToken">
					<h3>Refresh your expired access token</h3>
					<p>Once your access token expires you need to refresh it, and we got you covered!</p>

					<form action="/refresh" method="POST">
						<div class="form-group">
							<label for="client_id">CLIENT ID</label>
							<input type="text" class="form-control" id="client_id" name="client_id"
								aria-describedby="client_id_help" placeholder="Enter CLIENT ID" required>
						</div>
						<div class="form-group">
							<label for="client_secret">CLIENT SECRET</label>
							<input type="text" class="form-control" id="client_secret" name="client_secret"
								aria-describedby="client_secret_help" placeholder="Enter CLIENT SECRET" required>
						</div>
						<div class="form-group">
							<label for="refresh_token">REFRESH TOKEN</label>
							<input type="text" class="form-control" id="refresh_token" name="refresh_token"
								aria-describedby="refresh_token_help" placeholder="Enter REFRESH TOKEN" required>
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>



				</div>
			</div>

			<%- include('partials/copied'); -%>
	</main>
</body>


<%- include('partials/footer'); -%>

</html>