<!DOCTYPE html>
<html lang="en">


<%- include('partials/head'); -%>


<header>
	<div class="container">
		<div class="jumbotron front text-center"></div>
		<div class="container">
			<h1 class="display-3 text-white" style="font-family: 'Inter', sans-serif;">
				AutoAuth
				<br>
				for
				<br>
				ruqqus
			</h1>
			<br>
			<hr>
			<br>
			<p class="text-white">Automatic and secure way to get <strong>ruqqus</strong> api authentication token</p>
		</div>
	</div>
	</div>
</header>

<body>
	<%- include('partials/front_nav'); -%>
	<main>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12 card automatic">
					<h3>Get your access tokens</h3>
					<p>Input your app's info. Don't worry, none of the info is stored.</p>

					<form action="/auth" method="POST">
						<div class="form-group">
							<label for="client_id">CLIENT ID</label>
							<input type="text" class="form-control" id="client_id" name="client_id"
								aria-describedby="client_id_help" placeholder="Enter CLIENT ID">
						</div>
						<div class="form-group">
							<label for="client_secret">CLIENT SECRET</label>
							<input type="text" class="form-control" id="client_secret" name="client_secret"
								aria-describedby="emaclient_secret_help" placeholder="Enter CLIENT SECRET">
						</div>
						<div class="form-group">
							<label for="redirect_uri">REDIRECT URI</label>
							<input type="text" class="form-control" id="redirect_uri" name="redirect_uri"
								value="https://ruqqus-auth.glitch.me/redirect" disabled>
							<small id="redirect_uri_help" class="form-text text-muted">In order for this website to work
								you need to add this redirect uri to your app's redirect uri's list.</small>
						</div>
						<div class="form-group">
							<label for="scope_list">SCOPE LIST <small>(scopes separated by comma)</small></label>
							<input type="text" class="form-control" id="scope_list" name="scope_list"
								aria-describedby="scope_list_help" placeholder="identity, create, read....">
							<small id="scope_list_help" class="form-text text-muted"><a data-toggle="collapse"
									href="#showScopes" role="button" aria-expanded="false" aria-controls="showScopes">
									See
								</a> all of the available scopes.</small>
							<div class="collapse" id="showScopes">
								
									<input type="text" class="form-control" id="redirect_uri"
								value="identity, create, read, update, delete, vote, guildmaster" disabled>
								
							</div>
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>

				</div>
				<hr>
				<div class="col-12 card automatic">
					<h3>Refresh your expired access token</h3>
					<p>Once your access token expires you need to refresh it, we also have a way to do that!</p>

					<form action="/refresh" method="POST">
						<div class="form-group">
							<label for="client_id">CLIENT ID</label>
							<input type="text" class="form-control" id="client_id" name="client_id"
								aria-describedby="client_id_help" placeholder="Enter CLIENT ID">
						</div>
						<div class="form-group">
							<label for="client_secret">CLIENT SECRET</label>
							<input type="text" class="form-control" id="client_secret" name="client_secret"
								aria-describedby="emaclient_secret_help" placeholder="Enter CLIENT SECRET">
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>

				</div>
			</div>

		</div>

	</main>
</body>

</html>