<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); -%>
</head>

<body>
	<%- include('partials/nav'); -%>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    500</h1>
                <h2>
                    Internal Server Error!</h2>
                <div class="error-details">
					Sorry, an error occurred! We are working on fixing it!
                </div>

            </div>
        </div>
    </div>
</div>

</body>

</html>