<!DOCTYPE html>
<html lang="en">


<%- include('partials/head'); -%>


<body>
	<%- include('partials/nav'); -%>
	<main>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12 card automatic" style="margin-top: 10vh;">
					<h1>Help</h1>
					<hr>
					<h2>General help</h2>
					<ul>
						<li><a href="/help/get_app">How to request a new app?</a></li>
						<li><a href="/help/app_info">Where do I get my apps info?</a></li>
					  </ul>
				</div>
			</div>

		</div>

	</main>
</body>

</html>